:root { font-size: 16px; }
  
body { 
  background-color: #FAFAFA;
  color: #FFF;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#about-me h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.center-flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me { padding: 50px 55px; }

#about-me article { 
  font-weight: 300;
  max-width: 650px;
  font-size: 1.4375rem;
}

#profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}

#nav-links {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

#about-me a { 
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

#nav-links .nav-link {
  border: 1px solid #FDEBAD;
  color: #FDEBAD;
  font-size: 1.1875rem;
  font-weight: 300;
  padding: 10px 15px;
  margin-top: 10px;
  margin: 10px 10px 0 10px
}

#nav-links .nav-link:hover {
  background-color: #FDEBAD;
  color: #70612B;
}

#about-me nav a:hover { text-decoration: inherit; }
#about-me a:hover { text-decoration: underline; }

.social-link {
    display: inline-block;
    margin: 5px 15px 20px 0;
}

.social {
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

#linkedin { background-image: url("../assets/linkedin.png"); }
#instagram { background-image: url("../assets/instagram.png"); }

footer {
  padding: 15px;
  text-align: center;
  font-weight: 300;
  font-size: 0.6875rem;
  color: #0A96A3;
}

@media screen and (max-width: 700px) {
  #about-me { padding: 40px 55px; }

  #about-me article { font-size: 1.25rem; }

}