body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  margin: 30px;

  background-color: #FAFAFA;
  color: #880E4F;
}

#ux-projects {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#ux-projects  a { 
  border: 5px solid #880E4F;
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

#ux-projects a:not(:last-child) { margin-right: 20px; }

#ux-projects a:hover {
  text-decoration: inherit;
  border: 5px solid #F8BBD0;
  color: #FCE4EC;
}