body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 15px;
  padding: 25px 40px;

  background-color: #FEF9FB;
  color: #263238;
}

h1 {
    text-align: center;
    color: #AD1457;
    font-weight: 300;
    margin-bottom: 20px;
}

#ux-projects {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
}

#ux-projects .project {
  margin: 15px;
  margin-top: 20px;
}

#ux-projects  a { 
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

#ux-projects a:hover { text-decoration: inherit; }

#ux-projects .ux-item {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
}

#ux-projects .ux-item:hover { border: 1px solid transparent; }

#ux-projects .ux-item .project-name {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: #FFF;
  padding: 15px 5px;
}

#post-it { 
  background-image: url("../assets/pet-post-it.jpeg"); 
  background-position: 50%;
}

#usability { background-image: url("../assets/usability.JPG"); }

#data-viz { 
  background-image: url("../assets/data-viz.JPG"); 
  background-position: 44%;
}

#ux-projects article {
  width: 250px;
  height: 250px;
}