body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: #FAFAFA;
}

h1 {
    text-align: center;
    color: #AD1457;
    margin-bottom: 20px;
    font-weight: 400;
    margin-top: 45px;
}

#home {
    position: absolute;
    color: #FFF;
    background-color: #AD1457;
    padding: 10px 15px;
    top: 30px;
}

#home .material-icons { font-size: 30px; }

#ux-projects {
  margin: 25px 40px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  color: #FFF;
}

#ux-projects .project {
  margin: 15px;
  margin-top: 20px;
  background: #AD1457;
  width: 300px;  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ux-projects .project:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }

#ux-projects  a { 
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

#ux-projects a:hover { text-decoration: underline; }

#ux-projects .project article { 
  padding: 0 25px 20px 25px; 
  height: 140px;
}

#ux-projects .ux-item {
  width: 300px;
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
}

#post-it { background-image: url("../assets/pet-post-it.jpeg"); }
#usability { background-image: url("../assets/usability.JPG"); }
#data-viz { background-image: url("../assets/data-viz.JPG"); }

#ux-projects nav {
  color: #27E693;
  font-weight: 400;
  font-size: 19px;
  padding: 0 25px 20px 25px;
}